.brands-img {
  width: 70px;
  height: 37px;
}

.f-s-img {
  z-index: -1;
  width: 159px;
  right: -57px;
  bottom: -44px;
}

.div-feature-service:hover .f-s-img {
  right: -40px;
  bottom: -20px;
  transition: 0.9s;
}

header {
  transition: 0.6s;
  z-index: 999999;
}

.logo {
  width: 49px;
  display: none;
}

.mobile-menu {
  -webkit-animation: slideLeft 1s;
          animation: slideLeft 1s;
  display: none;
}

.hide {
  display: none !important;
}

.bg-properties {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.trans {
  -webkit-animation: slideUp 1s;
          animation: slideUp 1s;
}

@-webkit-keyframes slideUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}
@media (min-width: 940px) and (max-width: 1600px) {
  .sys-card-v1 .sys-grid {
    flex-wrap: wrap;
    justify-content: center;
  }
  .gap-sm {
    gap: inherit;
  }
  .sys-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
@-webkit-keyframes slideLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
body {
  -webkit-animation: body 1s linear;
          animation: body 1s linear;
}

@-webkit-keyframes progress {
  to {
    width: 100%;
  }
}

@keyframes progress {
  to {
    width: 100%;
  }
}
.cube-wrap {
  --size: 20vmin;
  width: 0;
  height: 0;
  perspective: 100vmin;
  margin: 0 auto;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  -webkit-animation: cube 1s linear;
          animation: cube 1s linear;
}

@-webkit-keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}
.side {
  position: absolute;
  width: var(--size);
  height: var(--size);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  top: calc(var(--size) * -0.5);
  left: calc(var(--size) * -0.5);
  border-radius: 20%;
}

.top {
  transform: rotateX(90deg) translateZ(calc(var(--size) * 0.5));
}

.bottom {
  transform: rotateX(90deg) translateZ(calc(var(--size) * -0.5));
}

.left {
  transform: rotateY(90deg) translateZ(calc(var(--size) * 0.5));
}

.right {
  transform: rotateY(90deg) translateZ(calc(var(--size) * -0.5));
}

.front {
  transform: translateZ(calc(var(--size) * 0.5));
}

.back {
  transform: translateZ(calc(var(--size) * -0.5));
}

:root * {
  /* Pause the animation */
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  /* Bind the animation to scroll */
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media (max-width: 767px) {
  .col-md-6, .col-md-3, .col-md-4, .col-md-5 {
    width: 100% !important;
  }
  .sys-grid {
    flex-direction: column;
  }
  .display-3 {
    font-size: 2.5rem;
  }
  .sys-menu {
    display: none;
  }
  .sys-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
    -webkit-animation: slideLeft 1s;
            animation: slideLeft 1s;
  }
}/*# sourceMappingURL=style.css.map */